<div class="jumbotron">
  <h1>@hubkic</h1>  
</div>
<br/>
<div style="width:700pt">
  <h3>Premier League</h3>
  <div class="list-group">
    <a href="#" class="list-group-item" ng-repeat="te in data.teams" ng-class="mainController.isPromotionClass($index)">
      <h4 class="list-group-item-heading">{{te.stand_team_name}}</h4>
      Punkty:
      <span class="badge" style="">{{te.stand_points}}</span>
      <span ng-class="mainController.getArrow($index)" style="float:right"></span>
    </a>
  </div>
</div>